.btn-detalhes {
    background-color: #2e3535;
    color: #fff;
}

.btn-detalhes:hover {
    background-color: tomato;
    color: #fff;
}

.card-text {
    border: 1px solid black;
    border-radius: 5%;
    padding: 1%;
    overflow: hidden;
}

.card {
    border: 2px solid black;
    border-radius: 10%;
}

