.navbar {
    background-color: #59bbbe;
}

.nav-item a{
    color: rgb(87, 72, 72);
    transition: .3s ease-in;
}

.nav-item a:hover{
    color: #f21667;
}

.navbar-toggler {
    background-color: #fff;
    color: black;
}