.navbar {
    background-color: #2e3535;
    
}

.nav-item a{
    color: white;
    transition: .3s ease-in;
    font-size: 25px;
}

.nav-item a:hover{
    color: tomato;
}

.navbar-toggler {
    background-color: #fff;
    color: black;
}

.logo{
    width: 200px;
    height: 60px;
}



